<div class="card border-dark mb-3">
  <img class="card-img-top" src="/images/{{screenshot}}">
  <div class="card-body">
    <h5 class="card-title .text-success">{{title}}</h5>
    <p class=".text-warning">{{description}}</p>
    <h6 class="card-link"><a href="{{project_link}}" target="_blank" class="card-link">{{project_link}}</a></h6>
  </div>
</div>