<a href="/updatePost/{{id}}" target="_blank" class="card-link">
  <div class="card border-dark mb-3">
    <img class="card-img-top" src="/images/{{screenshot}}" alt="Screenshot">
    <div class="card-body">
      <h5 class="card-title text-success">{{title}}</h5>
      <p class="text-warning">{{description}}</p>
      <h6 class="card-link">{{project_link}}</h6>
    </div>
  </div>
</a>