<div class="container w-50 mx-auto">
    <div class="row">
        <h2 class="text-primary-emphasis">Update Post</h2>
    </div>
    <div class="row">
        <form method="put" id="update-form" class="mb-4">
            <div class="form-group">
                <label for="title-input" class="form-label text-light-">Title</label>
                <input type="text" id="title-input" class="form-control" name="title-input" placeholder="{{title}}" />
            </div>
            <div class="form-group">
                <label for="link-input" class="form-label text-light-">Project Link</label>
                <input type="text" id="link-input" class="form-control" name="link-input"
                    placeholder="{{project_link}}" />
            </div>
            <div class="form-group">
                <label for="description-input" class="form-label text-light-">Description</label>
                <textarea name="description-input" id="description-input" class="form-control" rows="3"
                    placeholder="{{description}}"></textarea>
            </div>
            <div class="form-group">
                <label for="">Tags</label>
                <select class="form-select" name="tags-input" id="tags-input" multiple
                    aria-label="multiple select example">
                    {{#each post.tags as |tag|}}
                    <option value="{{tag.id}}">{{tag.name}}</option>
                    {{/each}}
                </select>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Update</button>
        </form>
    </div>
</div>
<script src="/js/updatePost.js"></script>